.footer {
  height: auto;
  width: 100%;
  position: relative;
  color: var(--title-color);
  display: flex;
  justify-content: space-between;
  background-color: var(--secound-bg-color);
  padding: 2% 5rem;
  flex-shrink: 0;

}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content>p {
  font-size: 1.2rem;
  margin: 0.8rem 1rem;
}

.footer-content>p>span {
  margin: 0 0.2rem;
}

.website_icon {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.website_icon>div>a {
  font-size: 1.5rem;
  border: 1px solid;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  /* background-color:var(--secound-bg-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  /* color: var(--title-color); */
  border-radius: 1rem;
}

.website_icon .fa>a {
  background-color: #1877F2;
  color: var(--title-color);

}

.website_icon .in>a{
  background-color: #e7406b;
  color: var(--title-color);
}
.website_icon .li>a {
  background-color: #0A66C2;
  color: var(--title-color);
}


.footer_text {
  height: auto;
  width: 100%;
  background-color: var(--secound-bg-color);
  border-top: 1px solid;
  border-color: var(--content-color);
}

.footer_text>p {
  margin-left: 8rem;
  margin-top: 1rem;
  text-align: left;
  font-size: 1rem;
  color: var(--title-color);
  padding: 1rem;
}

.footer_number {
  display: flex;
}

@media (max-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pages {
    margin-top: 2rem;
  }

  .contact-us {
    margin-top: 2rem;
  }

  .website {
    margin-top: 2rem;
  }

  .footer_text>p {
    margin: 1rem 0;
    text-align: center;
  }

  .footer-content {
    display: flow-root;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .website_icon>div>a {
    margin-top: 1rem;
  }

  .pages_link {
    display: flow-root;
    justify-content: center;
    align-self: center;
    padding-left: 20%;
  }

  .footer {
    padding: 2% 3rem;
  }
}