@import url('https://fonts.googleapis.com//css2?family=Comfortaa:wght@300');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Comfortaa', sans-serif;  align-items: center;
}


:root {
  --secound-bg-color: #334662;
  --secound-color: #1b1b1b;
  --bg-color: #000000;
  --text-color: #727272;
  --content-color: #f6982c;
  --title-color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--secound-bg-color);
  border-radius: 60vh;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}