.floating-register {
  position: fixed;
  bottom: 90px;
  right: 1.8rem;
  background-color: var(--content-color);
  color: var(--title-color);
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 9999;
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.floating-register .icon {
  color: var(--title-color);
  padding-left: 15px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-register:hover {
  width: auto;
  padding: 12px 16px;
  border-radius: 50px;
  justify-content: flex-start;
}

.floating-register .text {
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.4s ease;
  font-size: 0.95rem;
  margin-left: 8px;
}

.floating-register:hover .text {
  max-width:200px;
}
