.about-img {
    background: url(../../assets/images/about/aboutBG.jpg) no-repeat center/cover;
    width: 100%;
    height: 30vh;
    position: relative;
    /* filter: brightness(0.9); */
}

.about-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.about-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
    z-index: 1;
}

.about-text h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--title-color);
}

.about-text h6 {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--content-color);
    cursor: pointer;
}

.about-text h6 span {
    color: var(--title-color);
}

.about_content {
    border-top: 5px solid var(--content-color);
    gap: 3rem;
    padding: 4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    margin: 6rem;
}

.about_text {
    flex: 1;
    line-height: 1.6;
    font-size: 1.1rem;
}

.about_text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--content-color);
}

.about_text p {
    color: var(--text-color);
}

.about_text h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: var(--content-color);
}

.about_text ul {
    list-style-type: none;
    margin-left: 20px;
    color: var(--text-color);
}

.about_text li {
    margin-bottom: 0.5rem;
}

.about-image {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ///////////////////////////////////////////////////////// */
.about_question {
    border-top: 5px solid var(--content-color);
    gap: 3rem;
    padding: 4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    margin: 5rem;
}

.about_question_content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--secound-bg-color);
}

.about_question_content h3 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: var(--text-color);
}

.faq_item {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 15px;
    width: auto;
    background-color: #fff;
    transition: all 0.3s ease;
}

.faq_item:hover {
    border-color: var(--content-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.faq_item h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--secound-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.faq_item h4:hover {
    color: var(--content-color);
}

.faq_answer_wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.faq_answer_list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.faq_answer_list li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    color: var(--text-color);
    line-height: 1.6;
    width: 60rem;
}

.faq_answer_list li::before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
}


@media (max-width: 1024px) {
    .about-text h1 {
        font-size: 2.5rem;
    }

    .about_content {
        gap: 2rem;
        padding: 3rem 4%;
        margin: 3rem;
    }

    .about_text h2 {
        font-size: 1.8rem;
    }

    .about_text h3 {
        font-size: 1.3rem;
    }

    .about-image {
        max-width: 45%;
    }
    .faq_answer_list li {
        font-size: 0.95rem;
        height: auto;
        max-width: 40rem;
    }
}

/* --- Փոքր էկրաններ (mobile) --- */
@media (max-width: 768px) {

    .about_content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 3rem 6%;
    }

    .about_text {
        flex: 1 1 100%;
        font-size: 1rem;
    }

    .about-image {
        width: 100%;
        max-width: 100%;
        border-radius: 0.6rem;
    }

    .about-text h1 {
        font-size: 2rem;
    }

    .about_text h2,
    .about_text h3 {
        font-size: 1.2rem;
    }

    .about_question_content h2 {
        font-size: 2rem;
    }

    .about_question_content h3 {
        font-size: 1.5rem;
    }
      .faq_item h4 {
        font-size: 1.1rem;
    }

    .faq_answer_list li {
        font-size: 0.95rem;
        height: auto;
        max-width: 30rem;
        }
}

@media (max-width: 520px) {
    .about-img {
        height: 25vh;
    }

    .about-text {
        left: 8%;
        top: 55%;
    }

    .about-text h1 {
        font-size: 1.6rem;
    }

    .about-text h6 {
        font-size: 0.9rem;
    }

    .about_content {
        padding: 2rem 1rem;
        margin-top: 3rem;
    }
       .faq_answer_list li {
        max-width: 20rem;
        }
}
@media (max-width: 410px) {
       .faq_answer_list li {
        max-width: 15rem;
        }
}